/* Ensures the app container takes the full viewport height and displays its children side-by-side */
.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  color: #6b6666;
}

/* Styles the main content area to take the remaining space next to the side panel */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #232222;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the headers and other reusable elements */
.App-header {
  background-color: #007bff;
  color: rgb(206, 42, 42);
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



input[type="file"] {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.project-section {
  background-color: #ffffff;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #007bff;
}



p {
  color: #ffffff;
}
